<div class="table-container">

  <a href="#form-section" class="btn btn-secondary" type="submit">
    Edit data
  </a>

  <div class="button-container">
    <button (click)="orderByCost('asc')" type="button" class="btn btn-outline-dark">Order by cost (asc)</button>
    <button (click)="orderByCost('desc')" type="button" class="btn btn-outline-dark">Order by cost (desc)</button>
    <button (click)="orderByHandling('jardineria')" type="button" class="btn btn-outline-warning">JARDINERA</button>
    <button (click)="orderByHandling('equipamientos')" type="button" class="btn btn-outline-warning">EQUIPAMIENTOS</button>
    <button (click)="orderByHandling('coordinacion')" type="button" class="btn btn-outline-warning">COORDINACION</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Hour</th>
        <th scope="col">Handling function</th>
        <th scope="col">Full-time Employees</th>
        <th scope="col">Part-time Employees</th>
        <th scope="col">Total Employees</th>
        <th scope="col">Full-time Employees cost</th>
        <th scope="col">Part-time Employees cost</th>
        <th scope="col">Total cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of defaultData">
        <td>{{data.day}}</td>
        <td>{{data.hour}}</td>
        <td>{{data.handlingFunction}}</td>
        <td>{{data.fullTimeEmployees}}</td>
        <td>{{data.partTimeEmployees}}</td>
        <td>{{data.totalEmployees}}</td>
        <td>{{data.fullTimeCost}}</td>
        <td>{{data.partTimeCost}}</td>
        <td>{{data.totalCost}}</td>
      </tr>
    </tbody>
  </table>

  <p id="form-section">HOLA! Esto será el form para editar la data si se es admin :)</p>
</div>