<div class="table-container">
  <a href="#form-section" class="btn btn-secondary" type="submit">
    Edit data
  </a>
  <div class="button-container">
    <button (click)="orderByCost('asc')" type="button" class="btn btn-outline-dark">Order by cost (asc)</button>
    <button (click)="orderByCost('desc')" type="button" class="btn btn-outline-dark">Order by cost (desc)</button>
    <button (click)="orderByHandling('jardinera')" type="button" class="btn btn-outline-warning">JARDINERA</button>
    <button (click)="orderByHandling('equipamientos')" type="button" class="btn btn-outline-warning">EQUIPAMIENTOS</button>
    <button (click)="orderByHandling('coordinacion')" type="button" class="btn btn-outline-warning">COORDINACION</button>
  </div>
  <table class="table display" *ngIf="(defaultData$ | async) as dataTable">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Hour</th>
        <th scope="col">Handling function</th>
        <th scope="col">Full-time Employees</th>
        <th scope="col">Part-time Employees</th>
        <th scope="col">Total Employees</th>
        <th scope="col">Full-time Employees cost</th>
        <th scope="col">Part-time Employees cost</th>
        <th scope="col">Total cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataTable">
        <td>{{data.day}}</td>
        <td>{{data.hour}}</td>
        <td>{{data.handling_function}}</td>
        <td>{{data.full_time}}</td>
        <td>{{data.part_time}}</td>
        <td>{{data.total_employees}}</td>
        <td>{{data.full_time_cost}}</td>
        <td>{{data.part_time_cost}}</td>
        <td>{{data.total_cost}}</td>
      </tr>
    </tbody>
  </table>

<br>
<br>
  
  <p id="form-section fw-bold">Edit Form</p>
  <app-input-data class="inputs"></app-input-data>


</div>


<!-- <script type="text/javascript">
  $(document).ready(function () {
      $('#mydatatable tfoot th').each(function () {
          var title = $(this).text();
          $(this).html('<input type="text" placeholder="Filtrar.." />');
      });

      var table = $('#mydatatable').DataTable({
          "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
          "responsive": false,
          "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          },
          "order": [
              [0, "desc"]
          ],
          "initComplete": function () {
              this.api().columns().every(function () {
                  var that = this;

                  $('input', this.footer()).on('keyup change', function () {
                      if (that.search() !== this.value) {
                          that
                              .search(this.value)
                              .draw();
                      }
                  });
              })
          },
          "buttons": ['csv', 'excel', 'pdf', 'print']
      });
  });
</script> -->