<div class="wrapper ">
<div class="container-fluid d-flex justify-content-center align-items-center">
    
    <div class="login-card">
        <div class="card-header">
            <img class="logo" src="../../assets/vy-logo.png" alt="">
          <h1>Login</h1>
        </div>
        <div class="card-body">


          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input required="" name="username" id="username" type="text">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input required="" name="password" id="password" type="password">
            </div>
            <br>
            <div class="form-group pb-2">
              <button class="login-button" type="submit">Login</button>
            </div>
          </form>

        </div>

    </div>

</div>

</div>