.title, .init{
    color: var(--white);
}
.right-plane {
  background-color: var(--yellow);
  height: 100dvh;
  overflow: hidden;
}

.plane-animation{
    animation: plane 0.5s linear;
}


.vid {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.btn:hover{
    background-color: var(--darkgray);
}

.btn:active{
    background-color: var(--black);
}

@media(max-width: 992px) {
  .right-plane {
    position: absolute;
    z-index: -9;
  }
  .title, .init{
    color: var(--black);
  }
}

@keyframes plane {
    0%{ 
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
