footer {
    background-color: var(--darkgray);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;

}

.team-name {
    color: var(--white);
    margin-bottom: 0;
}